
/*Common Styles */
body,html{ margin: 0; padding: 0;}
body{    font-family: sans-serif;	background-color: #e7e7e7; 	background-attachment: fixed;	background-size: 100% 100%;background-position: center;}
/*Heading*/
.nov-h1{text-align: center; font-size: 1.2em;   font-weight: bold;}
.nov-container{    width: 340px;    margin: 0 auto;}
.clearfix{clear: both!important; float: none!important; }
.errormsg{ color: #d22525; font-size: 0.80em; padding-top: 5px;}
/*Common Styles End**/


