/*Common Styles */
body,html{ margin: 0; padding: 0;}
body{    font-family: sans-serif;	background-color: #e7e7e7; 	background-attachment: fixed;	background-size: 100% 100%;background-position: center;}
/*Heading*/
.nov-h1{text-align: center; font-size: 1.2em;   font-weight: bold;}
.nov-container{    width: 340px;    margin: 0 auto;}
.clearfix{clear: both!important; float: none!important; }
.errormsg{ color: #d22525; font-size: 0.80em; padding-top: 5px;}
/*Common Styles End**/

/* driver signup page strat*/
.logintitle{margin-top: 30px;}
.logintitle{text-align: center;}
.nov-signup-container{ margin: 20px 0px; }
.heading{ font-size: 1.2em; font-weight: bold;}
.username{position: relative; margin-top: 30px;}
.usrNmLbl{top: -25px !important; color: #2a3746 !important; font-size: 0.80em !important; }
.username label{ color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s; pointer-events: none;}
.username input[type=text]{background: transparent; border: 0; outline: 0; border-bottom: 1px solid rgb(188,188,188);	}
.b-Line{display: block; width: 100%; line-height: 1.5em; color: #000; border-bottom: 1px solid rgb(188,188,188);}
input:focus{border-bottom: 2px solid #2a3746 !important; font-size: 0.8em !important;}
input:focus-out{border-bottom: 2px solid #2a3746 !important; font-size: 0.8em !important;}
.register{  width: 230px;    height: 40px;    margin: 25px auto;    background: #2a3746;   line-height: 2.5em;   color: #e7e7e7; border-radius: 7px; text-align: center; cursor: pointer;}
.usermobileno{position: relative; margin-top: 40px;}
.mblNoLbl{top: -25px !important; color: #2a3746 !important; font-size: 0.80em !important; }
.usermobileno label{ color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s; pointer-events: none;}
.usermobileno input[type=text]{background: transparent; border: 0; outline: 0; border-bottom: 1px solid rgb(188,188,188);	}
.emailid{position: relative; margin-top: 40px;}
.emailLbl{top: -35px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.emailid label{color: rgb(188,188,188); position: absolute; top: 0px; transition: 0.5s; pointer-events: none;}
.emailid input[type=text] {background: transparent; border: 0; outline: 0; border-bottom: 1px solid rgb(188,188,188);	}
.licensefile{margin-top: 30px; float: left;}
.choosefile{width: 150px;    height: 26px; text-align: center; margin-left: 175px; margin-top: 30px; color: #e7e7e7; background-color: #2a3746; width: 150px; cursor: defaul;}
.hidden{display: none;}
.pretty {margin-top: 30px;}

/* driver signup page End*/
/* customer Sign In Page Start*/
.logintitle{margin-top: 30px;}
.logoimg{text-align: center; }
.loginformCointainer{ margin: 20px 0px; }
.nov-form-h1{ font-size: 1.2em; font-weight: bold;}
.username {position: relative; margin-top: 30px; }
.usrNmLbl{top: -25px !important; color: #2a3746 !important;  font-size: 0.80em !important;}
.username  label{	color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s; pointer-events: none;}
.username input[type=text]	{background: transparent; border: 0; outline: 0; border-bottom: 1px solid rgb(188,188,188);}
.password {position: relative; margin-top: 30px;}
.paswrdLbl{top: -25px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.password  label{	color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s; pointer-events: none;}
.password input[type=password]	{background: transparent; border: 0; outline: 0;  border-bottom: 1px solid rgb(188,188,188);	}
.b-Line{display: block;    width: 100%; line-height: 2.5em; color: #000; border: 1px solid #ced4da;}
input:focus{border-bottom: 2px solid #2a3746 !important; font-size: 0.80em !important;}
.loginbutton{ text-align: center; width: 230px;    height: 40px;    margin: 0px auto; cursor: pointer;   background: #2a3746;   line-height: 2.5em;   color: #fff;  border-radius: 7px; border: none; margin-top: 25px;    margin-bottom: 25px;}
.socialMediaicons{ margin-top: 20px; width: 290px; margin-left: 95px; cursor: pointer;}
.signInWithTxt{ font-size: 12px; font-weight: bold; color: #000; text-align: center;}
.frgtpwrd  {	color: #000; font-weight: bold; text-decoration: none; font-size: 0.9em; float: left; margin: 15px 0; cursor: pointer;}
.registernow{	color: #000; font-weight: bold; text-decoration: none; font-size: 0.9em; float: right; margin: 15px 0;cursor: pointer;}
	a{color: #e7e7e7; !important}
/*Media Query*/

@media only screen and (max-width: 320px) and (min-width: 350px)  {

.nov-container{    width: 300px;   }	
}

/* customer Sign In Page End */



/* driver history page strat*/
.nov-heading{background-color: #2a3746; height: 50px; color: #e7e7e7; text-align: center; line-height: 3em;}
.cardView-container{padding-left: 15px; padding-right: 15px; margin-top: 15px;}
.nov-dbp-cardView, .nov-dbp-cardView1{margin-top: 15px; padding-bottom: 10px; background: #dbdad8; border: 2px solid #bfbdbd; border-radius: 5px; -webkit-border-radius: 5px;width: 100%; display: inline-block;}
.leftInfo{    width: 50%;    float: left; padding-left: 10px;    padding-top: 10px; }
.rightInfo{    width: 50%;    float: left;padding-left: 10px;    padding-top: 10px; }
.close{padding: 10px;}
.arrow{float: left; margin-left: 10px; margin-top: 15px; width: 20px;}
.accept{  text-align: center; width: 200px;    height: 40px; background: #2a3746; line-height: 2.5em; color: #fff; border: none; margin-left: 9px; float: left;     margin-top: 15px;}
.decline{  text-align: center; width: 200px;    height: 40px; background: #2a3746; line-height: 2.5em; color: #fff; border: none; float: right;     margin-right:9px; margin-top: 15px;}
.top1{margin-top: 15px; float: left; margin-left: 11px; cursor: pointer;}
.top2{float: right; margin-top: 15px; margin-right: 11px; cursor: pointer; }
.borderline{width: 100%; border-bottom: 2px solid #000; margin-top: 41px;}
.popupmsg{width: 80%; height: 300px; background-color: #fff; border: 1px solid #00000069; position: fixed; z-index: 999; left: 10%; right: 10%; top: 220px; text-align: center; box-shadow: 2px 2px 2px 2px #564a4a91;}
.msg{text-align:center; padding-top: 115px;}
.confirm{text-align: center; width: 200px; height: 40px; background: #2a3746; line-height: 2.6em; color: #fff; border: none; margin: 0 auto; margin-top: 5px;}
.overlay { position: fixed; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.5); z-index: 2; cursor: pointer;}
.hitry-lble{width: 140px; float: left;}
.lble-colon{float: right; font-weight: bold;}

/*Media Query*/
@media only screen and (max-width: 767px){
.accept , .decline{width:30%;}
.leftInfo , .rightInfo{font-size: 0.8em;}
.paytm, .cash, .below-txt1, .below-txt2, .below-txt3{font-size: 0.8em;}	
.location-hd, .contact-hd, .Notifications-hd{font-size: 1em;}
}
/* driver history page End*/

/*Dashboard page start*/
.popupcontent{ position: fixed; width: 80%; height: 135px; left: 10%;top: 160px; background-color: #fff; border: 1px solid #00000069;}
.popupBox{  padding: 20px; text-align: center;}
.okBtn{ text-align: center; width: 70px; height: 40px; background: #2a3746; line-height: 2.6em;cursor: pointer; color: #fff; border: none; margin: 0 auto; margin-top: 5px;}
/*Dashboard page* end*/

/* driver settings page start*/
.address{position: relative;}
.addressLbl{top: -35px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.address label{color: rgb(188,188,188); position: absolute; top: 0px; transition: 0.5s; pointer-events: none; }
.address input[type=text] {background: transparent; border: 0; outline: 0; border-bottom: 1px solid rgb(188,188,188);	}
.borderline{display: block;    width: 100%; line-height: 1.5; color: #000; border: 1px solid #000;}
.fa{float: right;}
.settingpage{padding: 0px 15px;}
/* driver settings page End*/
